node_modules/
bower_components/
timer.pkl
open*
close*
iot/
log/
py/*log
py/*.pyc
py/websws.db
*.service
*.pyc

.gitsecret/keys/random_seed
public/views/index.html.230206
py/coopControl.py.save
py/coopControl.py.save.1
py/hello.py
py/readInputs.py
py/websws.db


