[Unit]
Description=Python chicken coop controller
After=chickencoop.service

[Service]
WorkingDirectory=/home/pi/nodes/chickencoop/py
ExecStart=/usr/bin/python coopControl.py &
Restart=always
RestartSec=8
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=chickencoop
User=pi
Group=pi
Environment=NODE_ENV=development
Environment=TWILIO_SID=ACdad1cb953003df8f6eb528cab1726de3
Environment=TWILIO_TOKEN=e60d9f18bdcedd70e0eedf27f43520c9
Environment=TWILIO_PHONE_FROM=+14159806275
Environment=TWILIO_PHONE_TO=+16266418432
Environment=TWILIO_PHONE_TO_2=+16262288210

[Install]
WantedBy=multi-user.target
